* {
    margin: 0;
}

html {
    background-color: #13121200;
}
html,
body {
    width: 250px;
    color: var(--texte);
}

body {
    border: solid var(--accentuation-2);
    border-radius: 5%;
    background-color: var(--fond-page);
    height: 250px;
}

h1 {
    margin: 5% 0;
    color: var(--texte);
    font-size: 1.2rem;
    text-align: center;
}

p {
    font-size: 14px;
    color: var(--texte);
}

.result {
    display: block;
    width: 90%;
    margin: 5%;
}

.hidden {
    display: none;
}

button {
    margin: 4% 5%;
    width: 90%;
    appearance: none;
    background-color: #2ea44f;
    border: 1px solid rgba(27, 31, 35, .15);
    border-radius: 6px;
    box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    font-size: 1em;
    font-weight: 600;
    line-height: 20px;
    padding: 6px 6px;
    position: relative;
    text-align: center;
}

hr {
    border: none;
    width: 90%;
    margin: auto;
    border-top: 0.2rem solid var(--texte);
    color: var(--texte);
    overflow: visible;
    text-align: center;
    height: 5px;
}

html {
    --fond-page: #f5f5ee;

    --texte: #131212;
    --citation: #858585;
    --texte-clair: #eedbd3;

    --accentuation-1: #764d47;
    --accentuation-2: #cc7320;
}

@media (prefers-color-scheme: dark) {
    html {
        --fond-page: #2b2a33;

        --texte: #f1e5e0;
        --citation: #858585;

        --accentuation-1: #96625a;
        --accentuation-2: #cc7320;
    }
}