/*Corps et fond*/
html {
	background: linear-gradient(rgb(0, 68, 255), rgb(32, 113, 179), rgb(74, 148, 170), rgb(7,180,233));
	min-height: 100% ;
	background-repeat:no-repeat;
}

body {
	line-height: 14px;
	/*Police*/
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size: 13px;
}

/*Classes*/
.tete {
	background: linear-gradient(90deg, #b3b6b6,#bcc0c0 );
	margin: -10px -8px -10px -10px;
	padding:  20px ;
	max-height: 45px ;
	border: 2px solid grey;
}

.id {
	position: relative;
	top: -65px; left: 93%;
	max-width: 10%
}
.id_texte {
	position: relative;
	color: #0a3b8b;
	top: -110px; 
	left: 85%;
	max-width: 10%;
}

.corps {
	background: linear-gradient(90deg, #b3b6b6,#bcc0c0 );
	margin: 40px 5% 0 5% ;
	width: 90%;
	height: 200px;
	padding:  20px 20px 20px;
	border: 2px solid grey;
}

#corps {
	background: linear-gradient(90deg, #b3b6b6,#bcc0c0 );
	margin: 40px 5% 0 5% ;
	width: 90%;
	min-height: 200px;
	max-height: 300px;
	padding:  20px 20px 20px;
	border: 2px solid grey;
}

.d_titre {
	max-width: 30%;	left: 430px; top : 135px ;
	position: absolute; 
	color: #0a3b8b;

}

.d_texte {
	position: relative;	top: -160px; left: 308px;
	color: #0a3b8b;
	max-width: 70%;
}

.d_img {
	position: absolute; right:5%;
}

.g_titre {
	position: relative; left : 1% ;
	color: #0a3b8b;
}

.g_texte {
	position: relative; left : 1%;
	color: #0a3b8b;
	max-width: 70%;
}



/*Police, gestion des titres*/

p {
	font-family: 'Droid Sans', Helvetica, Arial, sans-serif;
	font-size: 14px;
}
h1 {
	font-family: 'Droid Serif', Georgia, Times, serif;
	font-size: 32px;
	color: #216793;
}

h2 {
	font-family: 'Droid Serif', Georgia, Times, serif;
	font-size: 24px;
	color: #3d52da;
}

h3 {
	font-family: 'Droid Serif', Georgia, Times, serif;
	font-size: 20px;
	color: #216793;
}

/*Animations*/
/*Texte*/
.waviy {
	position: relative;
	color: #0a3b8b;
	top: -92px; 
	left: 82%;
	max-width: 15%;
}
.waviy span {
  position: relative;
  display: inline-block;
  font-size: 24px;
  color: #0a3b8b;;
  text-transform: uppercase;
  animation: flip 2s infinite;
  animation-delay: calc(.2s * var(--i))
}
@keyframes flip {
  0%,80% {
    transform: rotateY(360deg) 
  }
}


/*Style des entrées, bouttons*/
/*Boutton*/
.button::before {
	position: relative;
	border: none;
	transition: .4s ease-in;
	z-index: 1;
	border-radius: 8px;
}

.button:hover {
	border: 2px solid rgb(0, 68, 255) ;
	color : rgb(0, 68, 255) ;
	background-color: rgb(7,180,233) ;
}

/*Entrées*/
p,label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}

